html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

/* disablign text-select: https://www.arungudelli.com/tutorial/css/disable-text-selection-in-html-using-user-select-css-property/#:~:text=In%20Google%20Chrome%3A,Google%20Chrome%20and%20Opera%20Browsers. */
.disable-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -ms-user-select: none;
}

/* css variables */
:root {
  --my-header-height: 85px;
  --my-card-width: 300px;
  --my-card-height: 350px;
  --my-box-shadow: rgb(0 0 0 / 18%) 0px 4px 16px;
}
