.modalWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 37, 42, 0.301);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  width: 400px;
  height: 210px;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  /* border: 1px solid black;--my-box-shadow */
  box-shadow: var(--my-box-shadow);
  border-radius: 5px;
  background-color: white;
}

.formStyle {
  padding-left: 30px;
}
